@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.mat-mdc-form-field {
  width: 100%;
}

.mat-mdc-raised-button {
  border-radius: 8px !important;
  font-weight: 600 !important;
  text-transform: uppercase !important;
  letter-spacing: 0.05em !important;
}

.mat-mdc-raised-button.mat-primary {
  background-color: var(--accent-blue) !important;
}

.mat-mdc-card {
  border-radius: 16px !important;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1) !important;
}
